In [2]:
# Example
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

In [5]:

child1 = {
  "name" : "John",
  "year" : 1995
}
child2 = {
  "name" : "Sammy",
  "year" : 2001
}


myfamily = {
  "child1" : child1,
  "child2" : child2
}
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [7]:
dict1 = { 
   "april_batch":{ "student":{ "name":"Mike", "marks":{ "python":80,"maths":70  } }}}
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

# From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [9]:
dict1["april_batch"]["student"]["name"]

'Mike'

In [11]:
dict1["april_batch"]["student"]["marks"]["python"]

80

In [33]:
dict1["april_batch"]["student"]["name"]= " Bhavesh "
dict1

{'april_batch': {'student': {'name': ' Bhavesh ',
   'marks': {'ML': 80, 'DL': 80, (1, 'ML'): 80}}}}

In [36]:
# add ML = 80 and DL = 80 inside marks