In [2]:
set3 = {"a",1,"b",2,3}
set3

{1, 2, 3, 'a', 'b'}

In [3]:
type(set3)

set

In [5]:
set3.update([6,7,8])

In [6]:
set3

{1, 2, 3, 6, 7, 8, 'a', 'b'}

  #  Task7 - go through other inbuilt methods like
   1) difference() 2) symmetric_difference()#

In [10]:
set1={"apple","mango","banana"}
set2={"mobile","earphone","charger"}

In [15]:
set4=set2.difference(set1) # The difference() method returns a set that contains the difference between two sets.

#that means set contains items that exist only in the first set, and not in both sets.

In [16]:
set4

{'charger', 'earphone', 'mobile'}

In [13]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

In [18]:
z=x.symmetric_difference(y)

In [20]:
z

{'banana', 'cherry', 'google', 'microsoft'}