# Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

# once tuple is created we cannot add,remove or modify the element

In [1]:
tup1 = (10,20,30,40,50)

In [2]:
# try to add values
tup1 = (10,20,30,40,50)
tup1[5] = 60

TypeError: 'tuple' object does not support item assignment

In [3]:
# remove 
tup1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [4]:
# modify the values
tup1

(10, 20, 30, 40, 50)

In [5]:
tup1[0] = 100

TypeError: 'tuple' object does not support item assignment

# Workaround for  modifying the values

In [6]:
# My original tuple
tup1

(10, 20, 30, 40, 50)

In [7]:
#Convert to list 
list1 = list(tup1)
list1

[10, 20, 30, 40, 50]

In [8]:
#Modify the value
list1[0] = 1000
list1

[1000, 20, 30, 40, 50]

In [9]:
#again convert to tuple
tup1 = tuple(list1)
tup1

(1000, 20, 30, 40, 50)

In [10]:
#to check a perticular value is present
tup1
print(1000 in tup1)

True

In [11]:
print(999 in tup1)

False